/build
/.idea
/.gradle
/gradlew.bat
/gradlew
/gradle
/local.properties
/savetopreferences.iml
/src/main/java/com/samueljbeck/.DS_Store
/src/main/java/com/.DS_Store
/src/main/java/.DS_Store
/src/main/.DS_Store
/.DS_Store
/src/.DS_Store
/src/main/java/com/samueljbeck/utilities/.DS_Store
.DS_Store
